/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'robotoreg';
    src: url('assets/roboto-condensed.regular.woff') format('woff'), /* Pretty Modern Browsers */
}


@font-face {
    font-family: 'Adv';
    src: url('assets/adv.woff') format('woff'), /* Pretty Modern Browsers */
}
/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'robotoitalic';
    src: url('assets/roboto-condensed.bold-italic.woff') format('woff'), /* Pretty Modern Browsers */
}

body {
    background-image: linear-gradient( to right,  rgba(148,233,194,1) 11.2%, rgba(224,235,186,1) 91.1% );
}

.btn-primary{
    background: #202020 !important;
    color: #fff !important;
}

