/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'robotoreg';
    src: url('assets/roboto-condensed.regular.woff') format('woff'), /* Pretty Modern Browsers */
}


@font-face {
    font-family: 'Adv';
    src: url('assets/adv.woff') format('woff'), /* Pretty Modern Browsers */
}
/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'robotoitalic';
    src: url('assets/roboto-condensed.bold-italic.woff') format('woff'), /* Pretty Modern Browsers */
}

body {
    background: #EDE574;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E1F5C4, #EDE574);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.btn-primary{
    background: #202020 !important;
    color: #fff !important;
}

